<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
      <payment>
          <atos_standard>
            <model>Madit\Atos\Model\Method\Standard</model>
            <title>Atos sip standard</title>
            <sips_version>2</sips_version>
            <default>
            <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            <secret_key_version>1</secret_key_version>
            <seal_algorithm>HMAC-SHA-256</seal_algorithm>
            <payment_action>authorize_capture</payment_action>
            </default>
            <active>1</active>
            <cctypes>CB,VISA,MASTERCARD,AMEX</cctypes>
            <can_use_checkout>1</can_use_checkout>
            <can_authorize>0</can_authorize>
            <can_capture>0</can_capture>
            <can_initialize>1</can_initialize>
            <allowspecific>0</allowspecific>
            <is_gateway>0</is_gateway>
            <order_status>pending</order_status>
            <paysage_json_url><![CDATA[https://payment-webinit.test.sips-services.com/rs-services/v2/paymentInit/]]></paysage_json_url>
            <paysage_post_url><![CDATA[https://payment-webinit.test.sips-services.com/paymentInit]]></paysage_post_url>
            <paysage_office_json_refund_url><![CDATA[https://office-server.test.sips-services.com/rs-services/v2/cashManagement/refund]]></paysage_office_json_refund_url>
            <paysage_office_json_validate_url><![CDATA[https://office-server.test.sips-services.com/rs-services/v2/cashManagement/validate]]></paysage_office_json_validate_url>
          </atos_standard>
      </payment>
      <csp>
        <policies>
          <storefront>
            <frame-ancestors>
              <inline>0</inline>
            </frame-ancestors>
          </storefront>
          <admin>
            <frame-ancestors>
              <inline>0</inline>
            </frame-ancestors>
          </admin>
        </policies>
      </csp>
    </default>
</config>
