<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <atos_standard>
                <model>Madit\Atos\Model\Method\Standard</model>
                <title>Atos sip standard</title>
                <payment_action>authorize_capture</payment_action>
                <active>1</active>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_initialize>1</can_initialize>
                <allowspecific>0</allowspecific>
                <is_gateway>0</is_gateway>
                <order_status>pending</order_status>
            </atos_standard>
        </payment>
    </default>
</config>
