<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Madit\Atos\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">atos</argument>
        </arguments>
    </virtualType>
    <type name="Madit\Atos\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Madit\Atos\Model\Session\Storage</argument>
        </arguments>
    </type>

    <type name="Madit\Atos\Model\Method\Standard">
        <arguments>
            <argument name="code" xsi:type="string">atos_standard</argument>
            <argument name="formBlockType" xsi:type="string">Madit\Atos\Block\Form\Standard</argument>
            <argument name="infoBlockType" xsi:type="string">Madit\Atos\Block\Info\Standard</argument>
            <argument name="valueHandlerPool" xsi:type="object">AtosPaymentValueHandlerPool</argument>
        </arguments>
    </type>

    <!-- @api create virtual type based on default value handler if it required by payment method -->
    <virtualType name="AtosPaymentDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">MaditAtosGatewayConfig</argument>
        </arguments>
    </virtualType>
    <!-- @api create virtual type based on default value handler pool if it required by payment method -->
    <virtualType name="AtosPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AtosPaymentDefaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AtosValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">Magento\Payment\Gateway\Validator\CountryValidator</item>
            </argument>
        </arguments>
    </virtualType>


    <virtualType name="MaditAtosGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Madit\Atos\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>



</config>
